
        body {
            margin: 0;
            padding: 0;
            font-family: Futura, "Trebuchet MS", Arial, sans-serif; /* Specify Futura font with fallbacks */
            width: 90%;
            margin: 0 auto;
        }
/* Styling for the header section */        
 header {
            position: relative;
            
        }

        .sale-banner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            text-align: center;
            background-color: pink;
            color: #fff;
            padding: 10px 0;
        }

        .menu-container {
            display: inline-block;
        }

        .menu {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
       .menu li {
            display: inline-block;
            margin-right: 4rem; /* Adjust spacing between menu items */
            font-size: 1.2rem; /* Change font size as needed */
        }

        .menu li:last-child {
            margin-right: 0; /* Remove margin from last menu item */
        }

        .middle-section {
            text-align: center;
        }

         .middle-section .logo img {
             width: 100%;
             margin: 0 auto;
            max-width: 60%; 
        }

.search-container .search-icon {
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: auto;
}

        .hamburger-menu {
            display: none;
        }
        @media only screen and (max-width: 480px) {
            .menu {
                display: none;
            }
            .menu.show {
                display: flex; 
                flex-direction: column;
                align-items: center;
            }
            .menu li {
                margin-right: 0;
                margin-bottom: 1rem;
            }
            .middle-section, .right-section {
                flex: none; 
            }
            .icons {
                margin-left: 0;
            }
            .hamburger-menu {
                display: block; 
                cursor: pointer;
                margin-right: 1rem;
            }
            .search-form {
                margin-left: 1rem;
                margin-right: 0;
            }
            .container {
                flex-direction: column;
                text-align: center;
            }
            .left-section,
            .right-section {
                margin-top: 1rem;
            }
        }
.container {
    display: flex;
 justify-content: space-around; 
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
}

.left-section,
.middle-section,
.right-section {
    flex: 1;
}

.middle-section {
    text-align: center;
}


.middle-section .logo img {
    width: 100%;
    margin: 0 auto;
    max-width: 60%; /* Adjust the logo max-width to 60% */
}

/* Adjust the width of left and right sections */
.left-section,
.right-section {
    flex: 40%;
}

.middle-section {
    flex: 20%; 
    padding-top: 0.5rem;
}
.right-section {
 display: flex;
    justify-content: flex-end; /* Align the content to the end (right) */
    align-items: center;
}
.icons {
    display: flex;
    align-items: center; /* Center icons vertically */
}

.icons a {
    display: inline-block;
    margin-left: 5px; /* Adjust margin between icons */
    flex-shrink: 0; /* Prevent icons from shrinking */
    width: 100%;
    max-width: 45%;
    min-width: 45%;/* Set maximum width for icons */
    height: auto; /* Maintain aspect ratio */
}

.search-form {
    margin-right: 5px; /* Adjust margin between search form and icons */
}

.right-section {
    padding-left: 10%; /* Push the right section to the end of the container */
}
/* Styling for the footer section */
        footer {
            background-color: black; /* Set background color to black */
            padding: 20px 0; /* Add some padding */
                  color: white; /* Set font color to white */
   position: relative;
    bottom: 0;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 70px 20px;
        }

        .subscribe {
            width: 60%;
            float: left;
            margin-right: 70px;
        }

        .subscribe h3 {
            margin-top: 0;
        }

        .footer-columns {
            width: 35%;
            float: right;
        }

        .footer-columns:after {
            content: "";
            display: table;
            clear: both;
        }

        .social-media,
        .faq {
            width: 50%;
            float: left;
        }

        .social-media h3,
        .faq h3 {
            margin-top: 0;
        }

        .subscribe form {
            display: flex;
        }

        .subscribe input[type="email"] {
            flex: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px 0 0 5px;
        }

        .subscribe button {
            padding: 10px 20px;
            background-color: pink;
            color: #fff;
            border: none;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
        }

        .subscribe button:hover {
            background-color: #0056b3;
        }

  .wp-block-pullquote {
  background-color: rgba(242, 169, 188, 0.6);
  padding: 20px;
  width: 80%;
  color: #FFFFFF;
  font-family: 'Inria Serif', serif;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 0 0 80px rgba(242, 169, 188, 0.9); 
}

.wp-block-pullquote blockquote {
  margin: 0;
  font-style: italic; 
}
.wp-block-image img {
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    justify-content: center;
    vertical-align: bottom;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1.wp-block-heading,
h2.wp-block-heading,
h3.wp-block-heading,
h4.wp-block-heading,
h5.wp-block-heading,
h6.wp-block-heading {
  line-height: 30px;
  margin-bottom: 20px;
  margin-top: 15px;
}
h1.wp-block-heading {
 font-family: 'Great Vibes', sans-serif;
    font-size: 3rem;
    text-align: center;
}
h2.wp-block-heading {
  text-transform: uppercase;
  font-size: 2rem; 
  font-weight: 600; 
}
h3.wp-block-heading {
  color: #888;
  text-transform: uppercase;
  font-size: 1.5rem; 
  font-weight: 600; 
  text-align: center;
}
h4.wp-block-heading {
  text-align: center;  
  color: #E19E9E;
  font-size: 1.3rem; 
  line-height: 30px;
}
h5.wp-block-heading {
    text-align: center;
    font-family: Inria Sans', sans-serif;
      text-transform: uppercase;
            font-size: 1.2rem;
}  
h6.wp-block-heading {
    font-weight: 600;
    font-size: 1.1rem;
}
